@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
    max-width: 1330px;
    margin: 0 auto;
}

.text-main {
    color: #1f2937;
}
.text-h1 {
    font-size: 1.6rem;
    font-weight: 600;
    margin: 0.2rem 0.1rem 1rem;
    color: #1f2937;
}
.text-h2 {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0.1rem 0.1rem 0.3rem;
    color: #1f2937;
}
.btn-main {
    padding: 0.5rem 1rem;
    background-color: #1f2937;
    font-size: 15px;
    font-weight: 500;
    color: white;
    border-radius: 6px;
}
.btn-delete {
    padding: 0.5rem 1rem;
    font-size: 15px;
    font-weight: 500;
    background-color: #a91919;
    color: white;
    border-radius: 6px;
}

input,
textarea {
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem;
    margin-bottom: 0.625rem;
}

table.basic {
    width: 100%;
}

table.basic thead tr td {
    background-color: #434349;
    font-weight: 600;
    color: white;
}

table.basic tr td {
    border: 1px solid #d1d5db;
    padding: 0.33rem 0.6rem;
    font-weight: 500;
}
table.basic tr td a {
    border: 1px solid #d1d5db;
    padding: 0.25rem .5rem;
    background-color: #ffffff;
    font-weight: 500;
    border-radius: 9px;
}

table.basic tbody tr:hover td {
    background-color: #dee5f1;
}

.flex-c {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-s {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.flex-sc {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.flex-e {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.flex-ec {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.flex-b {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex-a {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.anim-opacity {
    animation: anim-opacity 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes anim-opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.anim-scale {
    animation: anim-scale 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes anim-scale {
    0% {
        scale: 0;
    }
    100% {
        scale: 1;
    }
}
